<style>
#left {
    text-align: left;
    padding-right: 92%;
}
</style>

<h3>User</h3>
<p id="left"><%= image_tag @user.image.url(:med) %></p>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Username: <%= @user.username if @user.username %></p>
<p>major: <%= @user.major if @user.major %></p>
<p>age: <%= @user.age if @user.major %></p>

